# Virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Large ML/Data files

*.npy
*.pkl
*.h5
*.pt
*.pth
*.joblib
*.zip
*.tar
*.gz
*.npz

# OS/IDE files
.DS_Store
.vscode/
